/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25. feb. 2020, 13.09.26
    Author     : kacpe
*/

.MacroBoard
{
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
}

.MicroPane
{
    
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    
}

.TileRed
{
    /*-fx-background-color: transparent;*/
    -fx-border-color: red;
    -fx-border-width: 5;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    
   
}

.TileBlack
{
    /*-fx-background-color: transparent;*/
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    
   
}

.Label
{
    
}

.Button
{
    
    
}

.Dropdown
{
     
}

.GridPane
{
     -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
}